build/
bin/
lanfear/_core*.so
__pycache__/
*.pyc
*.o
*.hdf5
*.npz
*.out

# Figures written by the test suite
tests/figures/
*.png

# AI assists
CLAUDE.md
AI_output/**

# personal submission scripts
scripts/*.sh